<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634076855205-t93sjqf505nr63ubfi3ak4avu9e8f1g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634076855205-t93sjqf505nr63ubfi3ak4avu9e8f1g8</string>
	<key>API_KEY</key>
	<string>AIzaSyC69Zc4XqmhlMYYMM-B40gm3fRmeVBK9fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>634076855205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-2a68f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-2a68f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634076855205:ios:75b9d7be3f2f3d3b96864c</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-todo-2a68f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>